extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/')
		+home-button()
		+popover-title(locals.title)

	nav.bar.bar-tab
		.tab-item.active.programmViewMenu
			a(href="#").itemview
				span.icon.ion-clipboard
				span.tab-label Item view
		.tab-item.programmViewMenu
			a(href="#").timeview
				span.icon.ion-clock
				span.tab-label Time view
		.tab-item
			a(href="/files/Programm.pdf", target="_blank", data-ignore="push")
				span.icon.ion-ios-printer-outline
				span.tab-label Print


block content
	.content.programm
		.item-view
			+welcomeIcon(locals.title, 'ion-clipboard')
			
			div.table-view.card
				- var date
				each result, i in data.results
					- newDate = String(result.date)
					if date !== newDate
						- date = newDate
						div.table-view-cell.table-view-divider
							h5= result._.date.moment().locale('de').format('Do MMMM')
					div.table-view-cell.normal
						div.pull-left.time
							= result.start
							if result.end.length
								| -
								= result.end
						div.media-body
							.program-title= result.title
							p.more!= result.content


		.time-view
			+welcomeIcon(locals.title, 'ion-clock')
			.redline
			div.table-view.card
				- var date
				each result, i in data.results
					- var newDate = String(result.date)
					if date !== newDate
						- date = newDate
						div.table-view-divider
							- var germanDate = result._.date.moment().locale('de').format('Do MMMM')
							- var normalDate = result._.date.moment().format('DMYYYY')
							h5(data-date=normalDate)= germanDate
					
					- var start = result.start
					- var startH = parseInt( start.split(".")[0] )
					- var startM = parseInt( start.split(".")[1] )
					- var end = result.end
					- var endH = parseInt( end.split(".")[0] )
					- var endM = parseInt( end.split(".")[1] )
					- var momentStart = result._.date.moment().add(startH, 'hours').add(startM, 'minute')
					- if(endM || end.split(".")[1] == '00')
						- var d = result._.date.moment().add(endH, 'hours').add(endM,'minute').diff(momentStart)
						- var min = d/1000/60
						- var qs = min/15
					- else
						- var min = 'no end'
						- var qs = 2
					- var pixelPerQ = 20
					- var marginTop = 10
					- var height = (qs * pixelPerQ)
					div.table-view-cell(style="height: #{height}px")
						div.pull-left.time
							= start
						div.media-body
							.program-title= result.title
							p.more!= result.content
						
								
							

						//- .program-title= result.title
							//- p.more!= result.content

					
//- title: { type: String, required: true, index: true, initial: true, label: 'Programmpunkt' },
//- content: { type: Types.Html, wysiwyg: true, height: 150, label: 'Mehr text' },
//- date: { type: Types.Date, initial: true, label: 'Datum', default: Date.now },
//- start: { type: Types.Text, default: '12.00', initial: true, label: 'Startzeit'},
//- end: { type: String, default: '13.00', initial: true, label: 'Endzeit' },
//- akteure: { type: Types.Relationship, ref: 'Akteure', many: true, label: 'Leitung' },
